body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #C2CFD8;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  padding: 1rem;
}

h3 {
  font-size: 1.2rem;
  padding: 1rem;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #E1EEFF;
}

header h1 {
  color: black;
}

nav {
  background-color: #E1EEFF;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: .5rem;
}

nav li {
  list-style-type: none;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 1rem .75rem;
}

/* Left partial border style from https://stackoverflow.com/questions/4131490/any-way-to-limit-border-length */

main .border-left {
  position: relative;
  color: black;
  margin-left: 1rem;
}

main .border-left:after {
  content: "";
  background: black;
  position: absolute;
  left: 0;
  width: 5px;
  height: 50%;
}

main img {
  float: right;
  margin: .5rem;
}

main p {
  font-size: 135%;
  line-height: 1.3;
  padding: .5rem .7rem;
}

footer {
  background-color: #543A3A;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem;
}

footer h2 {
  position: relative;
  color: white;
}

footer h2:after {
  content: "";
  background: white;
  position: absolute;
  left: 0;
  width: 5px;
  height: 50%;
}

footer ul {
  padding: 0 1rem 1rem 1rem;
}

footer ul li {
  margin: .4rem 0;
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: white;
}

.wrapper {
  background-color: #fafafa;
  max-width: 960px;
  margin: 0 auto;
  box-shadow: 2px 2px 20px black;
}

.project-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.project-flex li {
  list-style-type: none;
  margin: 1rem;
}

.project-flex a {
  text-decoration: none;
  margin-left: 1rem;
  font-size: 135%;
}

.project-flex img{
  border: 3px solid black;
  margin: 1rem;
}

.project-flex figcaption {
  text-align: center;
}

.profile-picture {
  border: 2px solid #543A3A;
  border-radius: 2rem;
}

.skills-section li {
  margin: 0 1rem 1rem 3rem;
  font-size: 115%;
}

.experience-section {
  border-top: 3px solid black;
}

.experience-section li {
  margin: 0 1rem 1rem 3rem;
  line-height: 1.6;
  font-size: 115%;
}